framework: net10.0
storage: none

source https://api.nuget.org/v3/index.json
nuget FSharp.Core ~> 10.0
nuget Microsoft.Extensions.Logging.Abstractions ~> 10.0
nuget Aerospike.Client ~> 6.0   # version ^7.0 initiated bug https://github.com/protocolbuffers/protobuf/issues/6740
nuget Feather.ErrorHandling ~> 2.0

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.IO.Zip
    nuget Fake.Core.Target
    nuget Fake.Core.UserInput
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Tools.Git
