framework: net6.0
storage: none

source https://api.nuget.org/v3/index.json
nuget FSharp.Core ~> 6.0
nuget Microsoft.Extensions.Logging.Abstractions ~> 6.0
nuget Aerospike.Client ~> 4.2

git ssh://git@bitbucket.lmc.cz:7999/archi/nuget-server.git master Packages: /nuget/
# LMC Nuget dependencies:
nuget Lmc.ErrorHandling ~> 6.0

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.Core.ReleaseNotes 5.21.0-alpha003
    nuget Fake.Core.Target 5.21.0-alpha003
    nuget Fake.DotNet.AssemblyInfoFile 5.21.0-alpha003
    nuget Fake.DotNet.Cli 5.21.0-alpha003
    nuget Fake.IO.FileSystem 5.21.0-alpha003
    nuget Fake.IO.Zip 5.21.0-alpha003
    nuget Fake.Tools.Git 5.21.0-alpha003
